/* Stylesheet */

body {
    margin: 0;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17px;
    color: white;
}

button:hover {
    opacity: 0.9;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttonContainer {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin: 0 10px 20px 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    width: 500px;
    height: 350px;
}

#display {
    align-content: end;
    height: 75px;
    margin: 20px 10px;
    padding-right: 10px;
    border: 1px rgb(127, 255, 212) solid;
    border-radius: 20px;
    text-align: right;
    font-size: 45px;
    color: white;
}


.main {
    background-color: rgb(70, 70, 70);
}

.operator,
#clear,
#back {
    background-color: rgb(125, 125, 125);
}

#equalSign {
    background-color: rgb(127, 255, 212);
    color: black;
}
